<h2 class="center margin-all"><%= @user %> / <span style="color:maroon;"><%= @repo %></span></h2>
<form class="form-horizontal" name="select_form" action="<%= "/export/#{@user}/#{@repo}.csv"%>" method="get" onsubmit="return BeforeSubmission()">
  <% # ラベルカテゴリの設定 %>
  <div class="control-group">
    <label class="control-label">Category of label</label>
    <div class ="controls">
      <label class="radio">
        <input type="radio" name="category" value="none" checked="checked" onclick="ResetCategorize()">
        No category (Reset categorize)
      </label>
      <label class="radio">
        <input type="radio" name="category" value="colon" onclick="CategorizeByColon()">
        Colon(":") means category
      </label>
      <label class="radio">
        <input type="radio" name="category" value="custom" onclick="AppearCustomCategorizeForm()">
        Customize
      </label>
      <% @issues_items.labels.each do |label| %>
        <label class="checkbox" style="position:relative;left:10px;display:block;">
          <input type="checkbox" name="labels_in_category_customize"><span><%= label %></span>
        </label>
      <% end %>
      <table class="table-condensed">
        <tbody>
          <tr>
            <td>
              <input type="text" class="span3" id="new_label_input_textbox" placeholder="New label's name">
            </td>
            <td>
              <input class="btn disabled" type="button" id="new_label_input_button" value="Categorize" onclick="Categorize()">
            </td>
          </tr>
        </tbody>
      </table>
      <h6><ul class="unstyled" id="generated_labels_output"></ul></h6>
    </div>
  </div>
  <% # ラベル優先順位の設定 %>
  <div class="control-group">
    <label class="control-label">Priority of label</label>
    <div class="controls">
      <table class="table-condensed">
        <thead>
          <tr style="text-align:left;"><th>First</th><th>Second</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select name="label_pri_selects[]">
                <option>-</option>
                <% @issues_items.labels.each do |label| %>
                  <option><%= label %></option>
                <% end %>
              </select>
            </td>
            <td>
              <select name="label_pri_selects[]">
                <option><%= "-" %></option>
                <% @issues_items.labels.each do |label| %>
                  <option><%= label %></option>
                <% end %>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% # issue項目の設定 %>
  <div class="control-group">
    <label class="control-label">Issue items</label>
    <div class="controls" id="issue_items">
      <% @issues_items.each do |item| %>
        <label class="checkbox" style="display:block;">
          <% if @issues_items.labels.include?(item) %>
            <input type="checkbox" name="labels_in_items[]" value="<%= item %>" checked="true"><span><%= item %></span>
          <% else %>
            <input type="checkbox" name="items[]" value="<%= item %>" checked="true"><span><%= item %></span>
          <% end %>
        </label>
      <% end %>
    </div>
  </div>
  <% # pull-request有無の設定 %>
  <div class="control-group">
    <label class="control-label">Reference pull request</label>
    <div class="controls">
      <table class="table-condensed">
        <tbody>
          <tr>
            <td>
              <label class="radio">
                <input type="radio" name="pull_request" value="on">ON
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="pull_request" value="off" checked="checked">OFF
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% # open-issue有無/closed-issue有無の設定 %>
  <div class="control-group">
    <label class="control-label">Reference open issue / closed issue</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="issue_open_closed" value="open_closed" checked="checked">
        All issue
      </label>
      <label class="radio">
        <input type="radio" name="issue_open_closed" value="open">
        Open issue only
      </label>
      <label class="radio">
        <input type="radio" name="issue_open_closed" value="closed">
        Closed issue only
      </label>
    </div>
  </div>
  <% # Issueの日付範囲の設定 %>
  <div class="control-group">
    <label class="control-label">Issue date range</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="issue_date_range" value="all" checked="checked" onclick="IssueDateRangeDisable()">
        All issue
      </label>
      <label class="radio">
        <input type="radio" name="issue_date_range" value="date_range" onclick="IssueDateRangeEnable()">
        Issue in the date range only
      </label>
      <div>
        <input type="text" name="issue_date_range_input" id="issue_date_range_input" value="" placeholder="start-date end-date" disabled="disabled" onclick="Scroll()">
        <script type="text/javascript">
          $(document).ready(function() {
            $('input[name="issue_date_range_input"]').daterangepicker(
              {
               startDate: new Date(),
               endDate: new Date(),
               ranges: {
                 'Last 7 days': [moment().subtract('days', 6), new Date()],
                 'This month':  [moment().startOf('month'), new Date],
                 'Last month':  [moment().subtract('months', 1).startOf('month'), moment().subtract('months', 1).endOf('month')],
                 'This Year':   [moment().startOf('year'), new Date()],
                 'Last Year':   [moment().subtract('years', 1).startOf('year'), moment().subtract('years', 1).endOf('year')]
               },
               format: 'YYYY/MM/DD',
               showDropdowns: true,
               opens: 'right'
              }
            );
          });
        </script>
      </div>
    </div>
  </div>
  <% # 空欄の設定 %>
  <div class="control-group">
    <label class="control-label">Blank</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="blank" value="">
        Leave the space blank
      </label>
      <label class="radio">
        <input type="radio" name="blank" value="-" checked="checked">
        Fill in the blanks with hyphen("-")
      </label>
    </div>
  </div>
  <% # 送信ボタン %>
  <input type="hidden" name="generated_labels_textdata" id="generated_labels_textdata" value="">
  <div class="control-group">
    <div class="controls">
      <input class="btn btn-primary" type="submit" value=" Download  <%= @repo %>.csv ">
    </div>
  </div>
</form>
