<h1>Root#index</h1>

<p>
Find me in app/views/root/index.html.erb
</p>

<% if current_user %>

    Welcome <%= current_user.github_id %>!
    <%= link_to "Sign out", '/logout' %>

    <div>
      <h4>Organizations</h4>
      <div>
        <% @orgs.each do |str| %>
          <div>
          <%= str %>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h4>Repositories</h4>
      <div>
        <% @my_repos.each do |repo| %>
          <div>
          <%= repo %>
          </div>
        <% end %>
      </div>
      
      <div>
        <% @orgs_repos.each do |org_repos| %>
          <% org_repos.each do |repo| %>
            <div>
            <%= repo %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

<% else %>

<a href="/auth/github">Sign in</a>

<% end %>

