<h1>Root#index</h1>

<p>
Find me in app/views/root/index.html.erb
</p>

<% if current_user %>

    Welcome <%= current_user.github_id %>!
    <%= link_to "Sign out", '/logout' %>

    <div>
      <h4>Organizations</h4>
      <div>
        <% @orgs.each do |org| %>
          <div>
          <%= org %>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h4>Repositories</h4>
      <div>
        <% @repos.each do |repo| %>
          <div>
            <%= link_to "#{repo}", '/export.csv' %>
          </div>
        <% end %>
      </div>
    </div>

<% else %>

<%= link_to "Sign in", '/auth/github' %>

<% end %>

