<div class="container-fluid">
  <h2>Welcome <span class="user"><%= @username %></span> !</h2>
  <div class="row-fluid">
    <div class="span3 offset1">
      <table class="table table-condensed">
        <thead>
          <tr><th><h3>User</h3></th></tr>
        </thead>
        <tbody>
          <% # ユーザーを表示 %>
          <tr><td>
            <h4><i class="icon-user"></i> <%= link_to @username, "/index/#{@username}" %></h4>
          </td></tr>
        </tbody>
      </table>
      <table class="table table-condensed">
        <thead>
          <tr><th><h3>Organizations</h3></th></tr>
        </thead>
        <tbody>
          <% # ユーザーの所属組織を表示 %>
          <% @orgs.each do |org| %>
            <tr><td>
              <h4><i class="icon-home"></i> <%= link_to org, "/index/#{org}" %></h4>
            </td></tr>
          <% end %>
        </tbody>
      </table>
      <table class="table table-condensed">
        <thead>
          <tr><th><h3>Collaborators</h3></th></tr>
        </thead>
        <tbody>
          <% # ユーザーの協力者を表示 %>
          <% @collaborators.each do |coll| %>
            <tr><td>
              <h4><i class="icon-user"></i> <%= link_to coll, "/index/#{coll}" %></h4>
            </td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span8">
      <table class="table table-striped table-condensed">
        <thead>
          <tr><th><h3>Repositories</h3></th><tr>
        </thead>
        <tbody>
          <% # ユーザーのレポジトリを表示 %>
          <% # issueを持つもののみリンクを貼る %>
          <% @repos.each do |repo| %>
            <% next unless repo.owner == params[:user] %>
            <% if repo.has_issue %>
              <tr><td>
                <h4><%= link_to "#{repo.owner}/#{repo.name}", "/export/#{repo.owner}/#{repo.name}.csv" %></h4>
              </td></tr>
            <% else %>
              <tr><td>
                <h4><%= "#{repo.owner}/#{repo.name}" %></h4>
              </td></tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
