<!DOCTYPE html>
<html>
  <head>
    <title>IssueExporter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "Issue Exporter", root_path %></li>
            </ul>
            <ul class="nav pull-right">
              <% unless logged_in? %>
                <li><%= link_to "Sign in", '/auth/github' %></li>
              <% else %>
                <li><%= link_to "Sign out", '/logout' %></li>
              <% end %>
            <ul>
          </nav>
        <div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    <div>
    <footer class="footer">
      <ul class="nav pull-left">
        <li><%= link_to "Home", root_path %></li>
      </ul>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About"  , '/support_pages/about' %></li>
          <li><%= link_to "Privacy", '/support_pages/privacy' %></li>
          <li><%= link_to "Terms"  , '/support_pages/terms' %></li>
          <li><%= link_to "Contact", '/support_pages/contact' %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
